p{
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 250px;
   margin-right: 250px;
   color:rgb(109, 5, 109);
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}